services:
  app:
    container_name: book-dlq-service
    image: bookdlq:v1
    ports:
      - "8082:8082"
    environment:
      - SPRING_DATA_MONGODB_URI=mongodb://admin:123@mongo:27017/book_dlq_db?authSource=admin
    depends_on:
      - mongo

  mongo:
    image: mongo:7.0
    container_name: mongo
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=123
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
